# Virtual environment
venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Database
*.db

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Model data (large files)
AI  model/data/
AI  model/asl_test/
AI  model/train _graphs/
