<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLR - Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body>

    <main class="reset-page">
        <div class="reset-card">
            <div class="card-content">
                <h2>Set New Password</h2>
                <p>Create a strong new password for your account.</p>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <form action="{{ url_for('reset_password') }}" method="POST">
                    <div class="input-group-reset">
                        <label for="password"></label>
                        <input type="password" id="password" name="password" placeholder="New Password" required>
                    </div>

                    <div class="input-group-reset">
                        <label for="confirm_password"></label>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                    </div>

                    <button type="submit" class="send-otp-button">Reset Password</button>
                </form>
            </div>
        </div>
    </main>

</body>

</html>
